```
# Compiled/MetaQuotes files
*.ex5
*.mqh
*.mq5
*.mq4
*.mqd
*.fxt
*.hst
*.csv
*.log
*.txt
*.xml
*.html
*.pdf
*.doc
*.xls
*.ppt
*.zip
*.rar
*.7z
*.gz
*.tar
*.bz2
*.xz
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webm
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.svg
*.ico
*.tiff
*.tif
*.psd
*.ai
*.eps
*.raw
*.cr2
*.nef
*.arw
*.orf
*.sr2
*.dng
*.raf
*.x3f
*.rw2
*.nrw
*.pef
*.dcraw
*.tga
*.exr
*.hdr
*.pfm
*.pgm
*.ppm
*.pbm
*.pnm
*.fits
*.fts
*.fit
*.pcx
*.pict
*.pct
*.pic
*.sgi
*.rgba
*.rgb
*.bw
*.icns
*.cur
*.ani
*.jfif
*.jpe
*.jif
*.jp2
*.j2k
*.jpx
*.jpm
*.mj2
*.j2c
*.jpc
*.j2p
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.jng
*.mng
*.lbm
*.iff
*.ilbm
*.ham
*.dct
*.dds
*.dib
*.drw
*.emf
*.fpx
*.gbr
*.gpl
*.hrf
*.kra
*.mdp
*.ora
*.pat
*.pdn
*.pgf
*.pict
*.psb
*.psd
*.psp
*.pxr
*.qif
*.qti
*.qtif
*.ras
*.raw
*.rgbe
*.rla
*.rle
*.sct
*.sgi
*.sun
*.tga
*.vic
*.vst
*.xbm
*.xcf
*.xpm
*.xwd
*.yuv
*.rgb
*.rgba
*.sgi
*.bw
*.icns
*.cur
*.ani
*.jfif
*.jpe
*.jif
*.jp2
*.j2k
*.jpx
*.jpm
*.mj2
*.j2c
*.jpc
*.j2p
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.jng
*.mng
*.lbm
*.iff
*.ilbm
*.ham
*.dct
*.dds
*.dib
*.drw
*.emf
*.fpx
*.gbr
*.gpl
*.hrf
*.kra
*.mdp
*.ora
*.pat
*.pdn
*.pgf
*.pict
*.psb
*.psd
*.psp
*.pxr
*.qif
*.qti
*.qtif
*.ras
*.raw
*.rgbe
*.rla
*.rle
*.sct
*.sgi
*.sun
*.tga
*.vic
*.vst
*.xbm
*.xcf
*.xpm
*.xwd
*.yuv
*.rgb
*.rgba
*.sgi
*.bw
*.icns
*.cur
*.ani
*.jfif
*.jpe
*.jif
*.jp2
*.j2k
*.jpx
*.jpm
*.mj2
*.j2c
*.jpc
*.j2p
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.jng
*.mng
*.lbm
*.iff
*.ilbm
*.ham
*.dct
*.dds
*.dib
*.drw
*.emf
*.fpx
*.gbr
*.gpl
*.hrf
*.kra
*.mdp
*.ora
*.pat
*.pdn
*.pgf
*.pict
*.psb
*.psd
*.psp
*.pxr
*.qif
*.qti
*.qtif
*.ras
*.raw
*.rgbe
*.rla
*.rle
*.sct
*.sgi
*.sun
*.tga
*.vic
*.vst
*.xbm
*.xcf
*.xpm
*.xwd
*.yuv
```